apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: game
spec:
  selector:
    app: postgres
  ports:
    - name: pg
      protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP

---

apiVersion: v1
kind: Service
metadata:
  name: game-web
  namespace: game
spec:
  #type: NodePort
  selector:
    app: game-web
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 5000
        # nodePort: 30000
  type: ClusterIP

---

apiVersion: v1
kind: Service
metadata:
  name: ngf-nginx-gateway
  namespace: nginx-gateway
spec:
  type: NodePort
  selector:
    app.kubernetes.io/instance: ngf
    app.kubernetes.io/name: nginx-gateway
  ports:
    - name: https
      protocol: TCP
      port: 443
      targetPort: 443
      nodePort: 30443
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
