apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: tictactoe
spec:
  serviceName: "postgres"
  replicas: 1
  selector:
	matchLabels:
  	app: tictactoe
  template:
	metadata:
  	labels:
    	app: postgres
	spec:
  	  containers:
    	    - name: postgres
      	    image: postgres:14 # You can change the version here
      	    env:
        	       - name: POSTGRES_PASSWORD
          	       value: "your-secret-password" # Make sure to store it securely
      	    volumeMounts:
        	       - name: postgres-data
          	       mountPath: /var/lib/postgresql/data
  volumeClaimTemplates:
	- metadata:
    	  name: tictactoe-data
  	spec:
    	  accessModes:
      	      - ReadWriteOnce
    	resources:
      	  requests:
        	    storage: 2Gi
    	storageClassName: standard
